body {
  padding-top: 80px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}





/* test chat only*/
.is-me {
	text-align: right;
}


 md-grid-list {
  margin: 8px; }
.gray {
  background: #f5f5f5; }
.green {
  background: #b9f6ca; }
.yellow {
  background: #ffff8d; }
.blue {
  background: #84ffff; }
.purple {
  background: #b388ff; }
.red {
  background: #ff8a80; }
.black {
  color:white;
  background: #101010; }
md-grid-tile {
  transition: all 400ms ease-out 50ms; }

.cards {
    border-radius: 25px;
}

.cards md-whiteframe{
    padding-left: 12px;
}

.cards md-grid-tile-footer {
    background-color:transparent;
    padding-left:10px;
    color:black;
    /*border-bottom-left-radius:25px;*/
    /*border-bottom-right-radius:25px;*/
}

#submitBtn {
    position: fixed;
    bottom: 10px;
    right: 10px; 
}

.list-group {
    margin-bottom:5px;
}