@{
    ViewBag.Title = "Home Page";
}
<div ng-show="!(appCtrl.isCreater || appCtrl.isPlayer)">
    <div class="jumbotron">
        <h1>WD Platform</h1>
        <p class="lead">Create a game or join a existing one to start your PARTY!</p>
        <form class="navbar-form navbar-left">
            <div class="btn-group">
                <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                    Create <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li><a ng-click="appCtrl.create()" href="#">Cards Against Humanity</a></li>
                </ul>
            </div>
            <div class="form-group">
                <input placeholder="Room" ng-model="appCtrl.roomNumber" class="form-control">
            </div>
            <div class="form-group">
                <input placeholder="UserName" ng-model="appCtrl.userName" class="form-control">
            </div>
            <button ng-click="appCtrl.join()" class="btn btn-success">Join</button>
        </form>
    </div>
</div>

<div ng-show="(appCtrl.isCreater || (appCtrl.isPlayer && !(appCtrl.isStart)))">
    <h1>Room {{appCtrl.roomNumber}} Players</h1>
    <md-grid-list md-cols-sm="3" md-cols-md="5" md-cols-gt-md="6"
                  md-row-height-gt-md="1:1" md-row-height="2:2"
                  md-gutter="12px" md-gutter-gt-sm="8px">

        <md-grid-tile ng-repeat="(name, score) in appCtrl.players" class="green">
            {{score}}
            <md-grid-tile-footer>
                <h3>{{name}}</h3>
            </md-grid-tile-footer>
        </md-grid-tile>
    </md-grid-list>
</div>

<div ng-show="appCtrl.isCreater">
    <div ng-show="!appCtrl.isStart">
        <button ng-click="appCtrl.start()" class="btn btn-success">Start</button>
    </div>
    <div ng-show="appCtrl.isStart">
        <h1>Question: </h1>
        <md-grid-list md-cols-sm="2" md-cols-md="6" md-cols-gt-md="6"
                      md-row-height-gt-md="1:1" md-row-height="2:2"
                      md-gutter="12px" md-gutter-gt-sm="8px">

            <md-grid-tile class="cards black" md-rowspan="1" md-colspan="3" md-colspan-sm="2">
                <md-whiteframe class="md-whiteframe-z2 cards" style="height:100%; width:100%">
                    <h2>{{appCtrl.question.text}}</h2>
                </md-whiteframe>
            </md-grid-tile>
            <md-grid-tile class="cards" ng-repeat="card in appCtrl.allSelectCards">
                <md-whiteframe class="md-whiteframe-z2 cards" style="height:100%; width:100%">
                    <ol ng-if="appCtrl.question.pick == 1">
                        <li ng-repeat="each in card">
                            <h5>{{each}}</h5>
                        </li>
                    </ol>
                    <h5 ng-if="appCtrl.question.pick == 0">{{card[0]}}</h5>
                </md-whiteframe>
            </md-grid-tile>
        </md-grid-list>
    </div>
</div>

<div ng-show="appCtrl.isPlayer && appCtrl.isStart">
    <h1>Your cards</h1>
    <md-grid-list md-cols-sm="2" md-cols-md="6" md-cols-gt-md="6"
                  md-row-height-gt-md="1:1" md-row-height="2:2"
                  md-gutter="12px" md-gutter-gt-sm="8px">

        <md-grid-tile class="cards" ng-repeat="card in appCtrl.cards">
            <md-whiteframe class="md-whiteframe-z2 cards" style="height:100%; width:100%">
                <h5>{{card.text}}</h5>
                <md-grid-tile-footer>
                    <md-checkbox ng-click="appCtrl.toogleSelected(card)"><span ng-bind="{{card.pick}}"></span></md-checkbox>
                </md-grid-tile-footer>
            </md-whiteframe>
        </md-grid-tile>
    </md-grid-list>
    <button ng-click="appCtrl.selecteCards()" class="btn btn-warning" >Submit</button>
</div>
