@{
    ViewBag.Title = "Home Page";
}
<div class="inner cover">
    <h1 class="cover-heading">WD 平台</h1>
    <p class="lead">让你的party从此不再缺少娱乐</p>
    <p class="lead">
        <a href="#" class="btn btn-lg btn-default">Create Game</a>
        <a href="#" class="btn btn-lg btn-default">Join Game</a>
    </p>
</div>
