@{
    ViewBag.Title = "Home Page";
}

<div>
    <div class="row">
        <div class="col-lg-offset-4">
            <button ng-click="appCtrl.create()" class="btn btn-lg btn-default">Create Game</button>
        </div>
        <div class="col-lg-4">
            <div class="input-group input-group-lg">
                <input type="text" class="form-control" ng-model="appCtrl.joinRoomNumber" placeholder="Room Number">
                <span class="input-group-btn">
                    <button class="btn btn-default" ng-click="appCtrl.join()">Join Game</button>
                </span>
            </div><!-- /input-group -->
        </div>
        <div class="col-lg-2">
            <a href="~/Home/TestChat" class="btn btn-lg  btn-default">Test Chat</a>
        </div>
    </div>
</div>

<div ng-show="appCtrl.openGame">
    <h1>Room {{appCtrl.roomNumber}}</h1>
</div>
